/*css 初始化代码 css reset*/
/*清除元素默认的内外边距*/
* {
	margin: 0;
	padding: 0;
}
/*清除列表样式*/
li {
	list-style: none;
}
body {
	background-color: #f3f5f7;
}
/*版心 12000 水平居中*/
.w {
	width: 1200px;
	/*水平居中对齐*/
	margin: auto;
}
.header {
	width: 1200px;
	height: 42px;
	background-color: pink;
	margin: 30px auto;
}
.logo {
	float: left;
	margin-right: 70px;
}
.nav {
	float: left;
}
.nav ul li {
	float: left;
}
.nav ul li a {
	display: block;
	height: 40px;
	padding: 0 9px;
	line-height: 40px;
	text-decoration: none;
}