/*css 初始化代码 css reset*/
/*清除元素默认的内外边距*/
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f3f5f7;
}
/*版心 12000 水平居中*/
.w {
	width: 1200px;
	/*水平居中对齐*/
	margin: auto;
}
.header {
	width: 1200px;
	height: 42px;
	background-color: pink;
	margin: 30px auto;
}